<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardianas</title>
</head>
<body>
    <header>

    </header>

    <p>Crea tu artesanía</p>
    <form action="/creacionProducto" method="post">
        <label for="nombreProducto"> Nombre de la artesanía</label>
        <input type="text" name="nombreProducto" maxlength="20" required>
        <label for="descripcion"> Descripción </label>
        <input type="text" name="descripcion" maxlength="200" required>
        <label for="image">Carga de imagenes</label>
        <input type="image" name="image" accept=".jpg" multiple>
        <select name="comunidad" id="comunidad">
            <option value="wichi">Wichí</option>
            <option value="diaguita">Diaguita</option>  
            <option value="guarani">Guaraní</option>
            <option value="quom">Quom</option>
            <option value="toba">Toba</option>
        </select>
        <label for="categoria"> Categoría</label>
        <select name="categoria" id="categoria">
            <option value="madera">Madera</option>
            <option value="ceramica">Cerámica</option>  
            <option value="tejido">Tejido</option>
            <option value="barro">Barro</option>
            <option value="cuero">Cuero</option>
        </select>
        <label for="caracteristicas">Características</label>
        <input type="text" name="caracteristicas" maxlength="200" required>
        <label for="precio">Precio</label>
        <input type="number" name="precio" maxlength="10"  required>
        <input type="submit" name="submit" value="Enviar">

    </form>


    <footer>

    </footer>
</body>
</html>