<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardianas</title>
</head>
<body>
    <header>

    </header>

    <p>Cargá de artesanías</p>
    <form action="/creacionProducto" method="post">
        <label for="NombreProducto"> Nombre de la artesanía</label>
        <input type="text" name="NombreProducto" maxlength="20" required>
        <label for="Descripcion"> Descripción </label>
        <input type="text" name="Descripcion" maxlength="200" required>
        <label for="image">Carga de imagenes</label>
        <input type="image" name="image" accept=".jpg" multiple>
        <label for="categoria"> Categoría</label>
        <select name="categoria" id="categoria">
            <option value="Madera">Madera</option>
            <option value="Madera">Cerámica</option>  
            <option value="Madera">Tejido</option>
            <option value="Madera">Barro</option>
            <option value="Madera">Cuero</option>
        </select>
        <label for="caracteristicas">Características</label>
        <input type="text" name="caracteristicas" maxlength="200" required>
        <label for="precio">Precio</label>
        <input type="number" name="precio" maxlength="10"  required>

    </form>


    <footer>

    </footer>
</body>
</html>