<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/footer.css">
        <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
    </head>

        <footer>
              
                <div class="menu-footer">
                    <h3>Contacto</h3>
                    <h4>Teléfono/ 11 22 11111 </h4>
                    <h4>Email@guardianaspornaturaleza.com.ar  </h4>
                    <h4>Direccion: Buenos Aires, Argentina </h4>
                    <h4>Proyecto integrador de Digital House - 2022 - Hecho por Grupo 4</h4>
                </div>  
                        
                <ul class="botones-redes">
                              
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></i></a>
                                
                </ul>
              
                    
                
        </footer>
</html>
            