
		  <html>
        
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Inicia sesión en Guardianas</title>
                <link rel="stylesheet" href="css/footer.css">
                <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
            </head>
            <footer>
              
                <div class="capa-footer">
                    <div class="grilla">
                        <div class="row">
                            <h3>Contacto</h3>
                            <span>Teléfono/ 11 22 11111 </span></br>
                            <span>Email@guardianaspornaturaleza.com.ar  </span></br>
                            <span>Direccion: Buenos Aires, Argentina </span></br>
                            <span><strong>Proyecto integrador de Digital House - 2022 - Hecho por Grupo 4
                            <ul class="social-botons">
                                <li class="social-botons"><a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></i></a>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            </html>
            