<!DOCTYPE html>
<html lang="es">
<head>


	<meta charset="utf-8">
	<title>Guardianas por Naturaleza</title>
	<meta name="description" content="El primer Ecomerce , con sentido social">
	<meta name="author" content="www.guardianas.com.ar">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    

  
	<link rel="stylesheet" href="css/style.css">
	
	<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	


	
	

</head>
<body class="home-page">
<div class="capa-body">

<!--///////////////////Header Guardianas///////-->
<nav class="navbar ">
	<div class="logo"></div>
	<div class="wrapperBurger">
	  <div class="line1"></div>
	  <div class="line2"></div>
	  <div class="line3"></div>
	</div>
	<div class="wrapperLink">
	  <div class="wrapperDropidown">
		<div class="dropidown-button">
		  <a href="#" class="navbar__item">Sobre Nosotras</a>
		 
		</div>
		<div class="dropidown-button">
		  <a href="#" class="navbar__item">Impacto</a>
		  
		</div>
	  </div>
	  <a href="#" class="navbar__item">Catálogo</a>
	  <a href="#" class="testButton"><i class="fa-solid fa-cart-shopping"></i></a>
	 	</div>	
  </nav>

<!--/Header-->




<!--///////////////////carrusel Guardianas///////-->
<h1>ACA VA EL CARRUSEL</h1>
<div class="carrusel">
	

  </div>



<!--///////////////////Card Guardianas///////-->
<section class="cards">
	<article class="card card--1">
	  <div class="card__info-hover">
		
		<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
	</svg>
		  <div class="card__clock-info">
			
			</svg><span class="card__time"></span>
		  </div>
		
	  </div>
	  <div class="card__img"></div>
	  <a href="#" class="card_link">
		 <div class="card__img--hover"></div>
	   </a>
	  <div class="card__info">
		<span class="card__category"> JUJUY</span>
		<h3 class="card__title">Hechas a Mano</h3>
		<span class="card__by"> <a href="#" class="card__author" title="author"></a></span>
	  </div>
	</article>
	  
	  
	<article class="card card--2">
	  <div class="card__info-hover">
		
		<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
	</svg>
		  <div class="card__clock-info">
		
			
		  </div>
		
	  </div>
	  <div class="card__img"></div>
	  <a href="#" class="card_link">
		 <div class="card__img--hover"></div>
	   </a>
	  <div class="card__info">
		<span class="card__category"> SALTA</span>
		<h3 class="card__title">ÚNICAS</h3>
		<span class="card__by"> <a href="#" class="card__author" title="author"></a></span>
	  </div>
	</article>  

	<article class="card card--2">
		<div class="card__info-hover">
		
		  <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
	  </svg>
			<div class="card__clock-info">
			  
			</div>
		  
		</div>
		<div class="card__img"></div>
		<a href="#" class="card_link">
		   <div class="card__img--hover"></div>
		 </a>
		<div class="card__info">
		  <span class="card__category"> Misiones</span>
		  <h3 class="card__title">DE LA NATURALEZA</h3>
		  <span class="card__by"> <a href="#" class="card__author" title="author"></a></span>
		</div>
	  </article>  
	  
	  
	  
	  
	  </section>
<!--//////////////////Calculadora//////-->

<div class="calculadora">
	
  </div>


<hr> 	


<!--///////////////////Footer Guardianas///////-->



<footer>
	<div class='embed-container maps' style="margin: 0; padding: 0;">
		
	</div>
	<div class="capa-footer">
		<div class="grilla">
			<div class="row">
				<h3>Contacto</h3>
				<span>Telefono/ 11 22 11111 </span></br>
				<span>Email / contacto@guardianaspornaturaleza.com.ar  </span></br>
				<span>Direccion / Argentina </span></br>
				<span><strong>Copyright 2022 - Hecho por Grupo4 <a href="#">Grupo4</a></strong></span>
				<ul class="social-botons">
					<li><a href="#"><i class="fab fa-twitter"></i></a>
					</li>
					<li><a href="#"><i class="fab fa-facebook"></i></a>
					</li>
					<li><a href="#"><i class="fab fa-linkedin"></i></i></a>
					
				</ul>
			</div>
		</div>
	</div>
</footer>



</body>
</html>
    