<!DOCTYPE html>
<html lang="es">
	<%- include('./head.ejs')  %>
<!-- <head>

  <link rel="stylesheet" href="/public/css/index.css"/>
</head> --> 

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Inicia sesión en Guardianas</title>
      <link rel="stylesheet" href="css/listadoProductos.css">
      <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
  </head>



<body>





    <main class="listado-producto-div">
    
    <section class="product-list-div">
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto"/>
            <p class="nombre" >Artesanía %titulo%</p>
            <p> Descripción </p>
            <strong class="precio">$4000</strong><br>
            <a class="agregar-carrito" href="">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre" >Artesanía %titulo%</p>
            <p> Descripción </p>
            <strong class="precio">$10.300,00</strong><br>
            <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre" >titulo </p>
            <p> Descripción </p>
            <strong class="precio"> $10.860,20</strong><br>
            <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre" >titulo </p>
            <p> Descripción </p>
            <strong class="precio">$9.396,13</strong><br>
          <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre" >titulo </p>
            <p> Descripción </p>
            <strong class="precio" >$9.396,13</strong><br>
          <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre" >titulo </p>
            <p> Descripción </p>
            <strong class="precio">$9.396,13</strong><br>
          <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre" >titulo </p>
            <p> Descripción </p>
            <strong class="precio">$9.396,13</strong><br>
          <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
        <div class="product-item-div">
            <img src="images/artesania1.jpg" alt="" class="image-producto">
            <p class="nombre">titulo </p>
            <p> Descripción </p>
            <strong class="precio">$9.396,13</strong><br>
          <a class="agregar-carrito" href="#">agregar al carrito</a>
        </div>
        <br>
    </section>
    </main>  

    
    <selection>
        <i class="fa-solid fa-arrow-left-long"></i>
        <i class="fa-solid fa-arrow-right-long"></i>
    </selection>

</body>