<main class="cuadro">

    <div class="catalogo">
            <div class="subcatalogo">
                <h3>Subcatalogo1</h3>
                <ul>
                    <li>otro producto1</li>
                    <li>otro producto2</li>
                    <li>otro producto3</li>
                </ul>
            </div>
            <div class="subcatalogo">
                <h3>Subcatalogo2</h3>
                <ul>
                    <li>otro producto1</li>
                    <li>otro producto2</li>
                    <li>otro producto3</li>
                </ul>
            </div>
            <div class="subcatalogo">
                <h3>Subcatalogo3</h3>
                <ul>
                    <li>otro producto1</li>
                    <li>otro producto2</li>
                    <li>otro producto3</li>
                </ul>
            </div>
    </div>
        
    <br>
    
    <section class="product-list">
        <div class="product-item">
            <img src="/img/imgProductos/gabinete1.jpg" alt="gabo1" width="200px"/>
            <p>ONYX CAJA PC GAMER ARGB TORRE MEDIANA</p>
            <strong>$11.200,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete2.jpg" alt="gabo2" width="200px">
            <p>GABINETE GAMER HB-037 ATX</p>
            <strong>$10.300,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete3.jpg" alt="gabo3" width="200px">
            <p>Gabinete Gamer Thermaltake S100 TG Snow Edition3</p>
            <strong>$10.860,20</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete4.jpg" alt="gabo4" width="200px">
            <p>GABINETE GAMER MAGNUMTECH 235GM</p>
            <strong>$9.396,13</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete5.jpg" alt="gabo5" width="200px">
            <p>GABINETE NOGA GAMER 8609</p>
            <strong>$19.400,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete6.jpg" alt="gabo6" width="200px">
            <p>GABINETE GAMER LEVEL UP ANDROMEDA</p>
            <strong>$11.087,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete7.jpg" alt="gabo7" width="200px">
            <p>GABINETE GAMER KOLINK VOID WHITE</p>
            <strong>$9.836,50</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
        <div class="product-item">
            <img src="/img/imgProductos/gabinete8.jpg" alt="gabo8" width="200px">
            <p>GABINETE GAMER HB-037 ATX</p>
            <strong>$10.630,00</strong><br>
            <em><a href="#">agregar al carrito</a></em>
        </div>
        <br>
    </section>
    </main>  
    <selection>
        <i class="fa-solid fa-arrow-left-long"></i>
        <i class="fa-solid fa-arrow-right-long"></i>
    </selection>
