<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión en Guardianas</title>
    <link rel="stylesheet" href="css/styleregister.css">
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        
        <div class="logo">
                 <img src="images/isologo verde.png" alt="Guardianas por naturaleza" class="logo-logo" width="270px" height="250" > 
        </div>

        <div class="menu-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>   
        
        <div>
            <a href="#" class="boton-tienda">Tienda</a>
        
            <a href="#" class="boton-dona">Doná</a>
        </div> 

        <div class="icono-carrito">
            <i class="fa-solid fa-cart-shopping"></i>
         </div>

        
         <div class="icono-personita">
            <i class="fa-regular fa-user"></i>
         </div> 

         <div class="cambio-de-idioma">
            <form action="" method="get">
                <select name="idiomas" id="idiomas">
                <option value="Eligió español"> Español </option>
                <option value="Eligió inglés"> English </option>
                </select>
            </form>    
        </div>

        <nav class="navegador-principal">
            <ul>
                <li> <a href="/"></a> Inicio </li>
                <li> <a href="/"></a> Nosotros </li>
                <li> <a href="/"></a> Impacto </li>
                <li> <a href="/"></a> Conocé tu huella </li>
                <li> <a href="/"></a> Catálogo</li>
                <li> <a href="/"></a> Crea una cuenta</li>
                <li> <a href="/"></a> Inicia sesión en Guardianas</li>
            </ul>
        </nav>
    </header>

    <div class="volver">
        <a href="index.html"> Volvé al Inicio</a>
    </div>

    <p> ¡Hola! Ingresá a tu cuenta </p>

    <form action="/login" method="post">
        <label for="email-usuario"> Email</label>
        <input type="email" name="email-usuario" id="email-usuario" placeholder="Ej. micaela@gmail.com" maxlength="25" required>
        <label for="password">Contraseña</label>
        <input type="password-usuario" name="password-usuario" id="password-cliente">
        <input type="submit" name="inicio-de-sesion" id="sesion-inicio">
    </form>
        <div>
            <a href="#">¿Olvidaste tu contraseña?</a>
            <a href="#">¿No tenés cuenta? Crea tu cuenta en Guardianas </a>
        </div>
   
    <div class="icono-manito-redes-fijo-tabletypc">
        <i class="fa-solid fa-hand-dots"></i>
        <a href="#"> <i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    
    <footer>

        <ul>
            <li> <a href="/"></a> Inicio </li>
            <li> <a href="/nosotros"></a> Nosotros </li>
            <li> <a href="/impacto"></a> Impacto </li>
            <li> <a href="/conoce-tu-huella"></a> Conocé tu huella </li>
            <li> <a href="/catalogo"></a> Catálogo</li>
            <li> <a href="/register"></a> Crea una cuenta</li>
            <li> <a href="/tienda"></a> Tienda</li>
            <li> <a href="/donaciones"></a> Donaciones</li>
        </ul>

        <ul>
                
                <li><a href="#"> Ventas mayoristas </a></li>
                <li><a href="#"> Regalos corporativos </a></li>
                <li><a href="#"> Contacto </a></li>
                <li><a href="#">Envíos y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes </a> </li>
                <li><a href="#">Medios de pago </a> </li>

        </ul>
        
    
        <div>
            <p class="direccion">Buenos Aires, Argentina </p>
            <img src="images/isologo verde.png" alt="logo" class="logo-footer" width="270px" height="250">
            <p class="copyright"><i class="fa-regular fa-copyright"></i>2022 Guardianas por naturaleza </p>
        </div>


    </footer>

</body>
</html>