<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Guardianas x naturaleza</title>
    <link rel="stylesheet" href="css/styleproductCart.css">
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">

  
</head>
<title>Viewport</title>
<meta name= 'viewport' content= 'with=device-wid th, initial-scale=1'>
</head>
<body>
<marquee> <h2>Guardianas por naturaleza</h2></marquee>
</body>
<body>

  
    <header class="header">
        
                <div class="logo">
                         <img src="images/isologo verde.png" alt="Guardianas por naturaleza" class="logo-logo">
                </div>
        
                <div class="menu-hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </div>    

                <div>
                    <a href="#" class="boton-tienda">Tienda</a>
                
                    <a href="#" class="boton-dona">Doná</a>
                </div>       
         </div>
         <div class="cambio-de-idioma">
                <form action="" method="get">
                    <select name="idiomas" id="idiomas">
                    <option value="Eligió español"> Español </option>
                    <option value="Eligió inglés"> English </option>
                    </select>
                </form>    
        </div>

        <nav class="navegador-principal">
            <ul>
                <li> <a href="index.html"> Inicio </li></a>
                <li> <a href="/"></a> Nosotros </li>
                <li> <a href="/"></a> Impacto </li>
                <li> <a href="productDetail.html"> Catálogo</li></a>
                <li> <a href="/"></a> Tienda </li>
                <li> <a href="/"></a> Donar </li>
            </ul>
        </nav>
      
         <div class="volver">
          <a href="/views/index.html"> Volvé al Inicio</a>
     
    </header>
    
       
    <main>
        <div class="icono-manito-redes-fijo-tabletypc">
            <i class="fa-solid fa-hand-dots"></i>
            <a href="#"> <i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
  

<!-- 
div class="primero"> Primer DIV</div>
    <div class="segundo"> Segundo DIV </div>

.icono-carrito {
 position: relative;
 left:20px;
 top: 30px;
}

.carrito texto{
 position: absolute;
 right: 30px;
 bottom: 20px;
}
-->

        <div class="icono-carrito">
          <i class="fa-solid fa-cart-shopping"></i>
          <div class="carrito texto"><h2>Carrito de compras</h2>
       </div>
       
      </div>
      <div class="buscador-de-productos">
          <label for="buscador-productos"> Busca tu artesania </label>
          <input type="text" name="buscador-productos" id="buscador" placeholder="Buscá más productos">
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>


      

<!-- 
        <div class="encabezado-ruta">
            <p class="ruta"> #Inicio/#Nombre del producto </p>
        </div>
-->

        <div class="basket">
            <div class="basket-module">
              <label for="promo-code">Código de promoción</label>
              <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
              <button class="promo-code-cta">Aplicar</button>
            </div>

    <!-- 
            <div class="basket-labels">
              <ul>
                <li class="item item-heading">Producto</li>
                <li class="price">Precio</li>
                <li class="quantity">Cantidad</li>
                <li class="subtotal">Subtotal</li>
              </ul>
            </div>
-->


<div class="tu carrito">
  <h3> Tu carrito </h3>
  
<!-- 
            <div class="basket-product">
             
              -->
              
              <div class="item">
                  <div class="products">
                  <article>
                    <!--   
                    <img src="images/img-cafetera-moulinex.jpg" alt="Panera" class="product_img">
                    -->
                      <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                          <h3 class="description">Panera de Carandillo</h3>
                      </div>
                  </article>
                  <div class="product-image">
                    <img src="/images/paneraCarandillo.jpg" alt="Imagen buscar" class="product-frame" width= "270px" height="250">
                  </div>
<!--
                  <img src="/images/bowl.jpg" width="300px" height="400"  alt="producto a">
-->
                        <p>Código de producto - 265</p>
                        <div class="price">$ 1.970</div>
                </div>
              </div>
          <div class="quantity">
                <input type="number" value="4" min="1" class="quantity-field">
              </div>
                <div class="remove">
                <button>Quitar producto</button>
              </div>

             <i class="fa-solid fa-trash-can"></i>

                  <article>
                    <!--   
                    <img src="images/img-macbook-pro-2019.jpg" alt="Canasto" class="product_img">
                    -->

                      <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                          <h3 class="description">Bowl de cerámica</h3>

                        </article>
                        <div class="product-image">
                          <img src="/images/2.jpg" alt="Imagen buscar" class="product-frame" width="270px" height="250" >
                           
                        </div>

                      </div>
                      <p>Código de producto - 1568</p>
                    </div>
                  </div>
                  <div class="price">$ 2.600</div>
                  <div class="quantity">
                    <input type="number" value="1" min="1" class="quantity-field">
                  </div>
                  
                  <div class="remove">
    
                    <button>Quitar producto</button>
                  </div>
                  <i class="fa-solid fa-trash-can"></i>

                  </article>
                  
                  <article>
                 <div class="main-article">
                  <i class="fa-solid fa-cart-shopping"></i>        
                     <h3 class="description">Cartera de Chaguar</h3>
                      </div>
                                       
                    </article>
                    <div class="product-image">
                      <img src="/images/carteraChaguar1.jpg" alt="Imagen buscar" class="product-frame" width="270px" height="250" >
                  </div>

                  </article>
                </div>
                <p>Código de producto - 1568</p>
              </div>
            </div>
            <div class="price">$ 2.850</div>
            <div class="quantity">
              <input type="number" value="1" min="1" class="quantity-field">
            </div>    
            <div class="remove">
                  <button>Quitar producto</button>
            </div>

            <i class="fa-solid fa-trash-can"></i>
                  
             <div class="basket-product">
              <div class="item">
                     
                <article>
                  <div class="main-article">
                   <i class="fa-solid fa-cart-shopping"></i>        
                      <h3 class="description">Finalizar la compra</h3>
                       </div>
                       
                       <div class="finalizar">
                                            
                      <button type="button" onclick="alert('¿Seguro quieres finalizar la compra?')">Finalizar Compra</button>
                    </div>
                  </div>

             
                      <aside>
            <div class="summary">
              <div class="summary-total-items"><span class="total-items"></span> Items en tu carrito</div>
           
            
              <div class="basket">
                <div class="basket-module">
                 </div>

                 <div class="subtotal">
                  <button>$        </button>
                </div>
              
              <div class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div class="subtotal-value final-value" id="basket-subtotal"></div>
                <div class="summary-promo hide">
                  <!-- <div class="promo-title">Promoción</div>
                  -->
                  <div class="promo-value final-value" id="basket-promo"></div>
                </div>
              </div>
              <div class="summary-delivery">
                <i class="fas fa-truck"></i> 
                <select name="delivery-collection" class="summary-delivery-selection">
                 
                    <option value="0" selected="selected">Elegí la forma de entrega</option>
                   <option value="collection">Retiro en local</option>
                   <option value="first-class">Búsqueda en sucursal de correo</option>
                   <option value="second-class">Envío a domicilio</option>
                   <option value="signed-for">Envío especial rápido</option>
                </select>
              </div>
              <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total"></div>
              </div>
              <div class="summary-checkout">
                <button class="checkout-cta">Cerrar cesión</button>
              </div>
            </div>
          </aside>
        </main>
      </body>
      <!-- 
        <article class="producto">
            <img src="/images/bowl.jpg" width="300px" height="400"  alt="producto a">
            <img src="" alt="/images/artesania-ceramica.jpg">
           <div class="puntos-debajo-de-foto-principal"> 
                <i class="fa-regular fa-circle-small"></i>
                <i class="fa-regular fa-circle-small"></i>
            </div>
            -->
           
            <div class="icono-pasar-imagenes">
            <i class="fa-thin fa-scrubber"></i>
            <i class="fa-thin fa-scrubber"></i>
            <i class="fa-thin fa-scrubber"></i>
            </div>
    
            <!--hacer botones css-->

          

        </article>
    </main>

        <p class="otras-artesanias"> ¡Artesanías únicas de la naturaleza a tu mano! </p>
        <!--Tienen que ir pasando de a una por pantalla a medida que crece la pantalla se ajusta al tamaño >>--> 
        <!-- <img src="" alt="foto1">
        <img src="" alt="foto2">
        <img src="" alt="foto 3">
        <img src="" alt="foto 4">
        <img src="" alt="foto 5">
        -->
        
        <section>
            <a  href="#" class="pagina-donaciones">Sumate con tu donación</a>  
            <!--boton con css -->

            <a  href="#" class="pagina-tienda"> Conocé nuestra tienda
                 ¡No te pierdas nada! </a>
             <!--hacer boton con css-->
        </section>

    <footer>
        <ul>
                
                <li><a href="#"> Ventas mayoristas </a></li>
                <li><a href="#"> Regalos corporativos </a></li>
                <li><a href="#"> Contacto </a></li>
                <li><a href="#">Envíos y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes </a> </li>
                
        </ul>
        <ul>
            <li>Seguinos en nuestras redes</li>
            <li><a href="#">Instagram </a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Twitter</a></li>

        </ul>
    
        <div>
            <p class="direccion">Buenos Aires, Argentina </p>
            <img src="images/isologo verde.png" alt="logo" class="logo-footer">
            <p class="copyright"><i class="fa-regular fa-copyright"></i>2022 Guardianas por naturaleza </p>
        </div>

    </footer>
</body>
</html>
