<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardianas por naturaleza</title>
    <link rel="stylesheet" href="css/style.css">
!! me falta link letra, 
link iconos buscar lupita burguer menu 
</head>
<body>

    <header class="header">
        <div class="menu-celular"> 
                <div class="logo">
                         <img src="images/isologo verde.png" alt="Guardianas por naturaleza">
                </div>
        
                <div class="burger-menu">


                <div class="boton-tienda">
                    <a href="#">Tienda</a>
                </div>
                
                <div class="boton-donaciones">
                    <a href="#">Doná</a>
                </div>       
         </div>

         <div class="cambio-de-idioma">
                <form action="" method="get">
                    <label for="idiomas">Lenguaje/Language</label>
                    <select name="idiomas" id="idiomas">
                    <option value="Eligió español"> Español </option>
                    <option value="Eligió inglés"> English </option>
                    </select>
                </form>    
        </div>

        <nav class="navegador-principal">
            <ul>
                <li> <a href="/"></a> Inicio </li>
                <li> <a href="/"></a> Nosotros </li>
                <li> <a href="/"></a> Impacto </li>
                <li> <a href="/"></a> Catálogo</li>
                <li> <a href="/"></a> Tienda </li>
                <li> <a href="/"></a> Donar </li>
            </ul>
        </nav>

        <div class="buscador-de-productos">
            <label for="buscador-productos"> ¿Qué artesanía estás buscando? </label>
            <input type="text" name="buscador-productos" id="buscador" placeholder="Buscá más productos">
        </div>

    </header>

    
        <div class="volver">
            <a href="#"> Volvé al Inicio</a>
        </div>

    <main>

        <div class="encabezado-ruta">
            <p class="ruta"> #Inicio/#Nombre del producto </p>
        </div>

        <article class="producto">
            <img src="/images/bowl.jpg" alt="producto a">
            <img src="" alt="foto a">
            <img src="" alt="foto b">
            <img src="" alt="foto c">
            <p> Bowl de cerámica </p>
            <p> Descripción breve del producto para celular 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsam hic architecto atque magni maxime, ipsum et, dolorem pariatur reprehenderit amet vero quam voluptatem error fugit voluptates quo esse quas.
            </p>
            <p> $1500 </p>
            <form action="/productDetail">
                <input type="button" name="agrego-al-carrito" id="productos-en-carrito" placeholder="Agregalo al carrito">
            </form> 
        </article>

        <p class="otras-artesanias"> Artesanías únicas pensadas para vos </p>
        <!--Tienen que ir pasando de a una por pantalla a medida que crece la pantalla se ajusta al tamaño >>--> 
        <img src="" alt="foto1">
        <img src="" alt="foto2">
        <img src="" alt="foto 3">
        <img src="" alt="foto 4">
        <img src="" alt="foto 5">

        <section>
            <p> Sumate con tu donación </p>
            <!--banner de sumate y hacer click-->
        </section>

        <section>
            <p> Conocé nuestra tienda
                 ¡No te pierdas nada! </p>
             <!--banner y hacer click-->
        </section>

    </main>

    <footer>
        


    </footer>
</body>
</html>