<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Guardianas x naturaleza</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">

</head>
<body>

    <header class="header">
        
                <div class="logo">
                         <img src="images/isologo verde.png" alt="Guardianas por naturaleza">
                </div>
        
                <div class="menu-hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </div>    


                <div>
                    <a href="#" class="boton-tienda">Tienda</a>
                
                    <a href="#" class="boton-dona">Doná</a>
                </div>       
         </div>

         <div class="icono-carrito">
            <i class="fa-solid fa-cart-shopping"></i>
         </div>

         <div class="cambio-de-idioma">
                <form action="" method="get">
                    <select name="idiomas" id="idiomas">
                    <option value="Eligió español"> Español </option>
                    <option value="Eligió inglés"> English </option>
                    </select>
                </form>    
        </div>

        <nav class="navegador-principal">
            <ul>
                <li> <a href="/"></a> Inicio </li>
                <li> <a href="/"></a> Nosotros </li>
                <li> <a href="/"></a> Impacto </li>
                <li> <a href="/"></a> Catálogo</li>
                <li> <a href="/"></a> Tienda </li>
                <li> <a href="/"></a> Donar </li>
            </ul>
        </nav>

        <div class="buscador-de-productos">
            <label for="buscador-productos"> ¿Qué artesanía estás buscando? </label>
            <input type="text" name="buscador-productos" id="buscador" placeholder="Buscá más productos"><i class="fa-solid fa-magnifying-glass"></i>
        </div>

    </header>

    
        <div class="volver">
            <a href="/views/index.html"> Volvé al Inicio</a>
        </div>

    <main>

        <div class="encabezado-ruta">
            <p class="ruta"> #Inicio/#Nombre del producto </p>
        </div>

        <article class="producto">
            <img src="/images/bowl.jpg" alt="producto a">
            <img src="" alt="foto a">
            <img src="" alt="foto b">
            <img src="" alt="foto c">
            <p> Bowl de cerámica </p>
            <p> Descripción breve del producto para celular 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsam hic architecto atque magni maxime, ipsum et, dolorem pariatur reprehenderit amet vero quam voluptatem error fugit voluptates quo esse quas.
            </p>
            <p> $1500 </p>
            <!--hacer botones css-->
            <a href="#"> Agregar al carrito </a>
            <a href="/views/productCart.html"> Comprar</a>
        </article>
    </main>

        <p class="otras-artesanias"> ¡Artesanías únicas de la naturaleza a tu mano! </p>
        <!--Tienen que ir pasando de a una por pantalla a medida que crece la pantalla se ajusta al tamaño >>--> 
        <img src="" alt="foto1">
        <img src="" alt="foto2">
        <img src="" alt="foto 3">
        <img src="" alt="foto 4">
        <img src="" alt="foto 5">

        <section>
            <a  href="#" class="pagina-donaciones">Sumate con tu donación</a>  
            <!--boton con css -->

            <a  href="#" class="pagina-tienda"> Conocé nuestra tienda
                 ¡No te pierdas nada! </a>
             <!--hacer boton con css-->
        </section>

    <footer>
        <ul>
                
                <li><a href="#"> Ventas mayoristas </a></li>
                <li><a href="#"> Regalos corporativos </a></li>
                <li><a href="#"> Contacto </a></li>
                <li><a href="#">Envíos y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes </a> </li>
                
        </ul>
        <ul>
            <li>Seguinos en nuestras redes</li>
            <li><a href="#">Instagram </a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Twitter</a></li>

        </ul>
    
        <div>
            <p class="direccion">Buenos Aires, Argentina </p>
            <img src="images/logo verde.png" alt="logo">
            <p class="copyright">Copyright 2022 Guardianas por naturaleza </p>
        </div>


    </footer>
</body>
</html>