<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión en Guardianas</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img src="images/isologo verde.png" alt="Guardianas por naturaleza" class="logo-logo">
</div>
    <section class="register">
        <h4>Formulario de Registro</h4>
        <input type="text" name="nombres y apellidos" id="nombres y apellidos" placeholder="Nombre y apellido">
        <input type="email" name="correo" id="correo" placeholder="E-mail">
        <input type="number" name="numero de contacto" id="numero de contacto" placeholder="Telefono de contacto">
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
        <input type="password" name="contraseña" id="contraseña" placeholder="Confirmar contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input type="submit" value="Crear cuenta">
        <p><a href="#">Ya tengo cuenta</a></p>
    </section>
</body>
</html>
