/* -------------------------------------Footer--------------------------------- */

footer{

    text-align: center;
    padding-top: 10px;
    background-color: #24303c;
    color: white;
    min-height: 300px;}
    

footer ul.social-botons li{
    display: inline;
        border-radius: 50%;
        font-size: 50px;
        align-items: center;
        line-height: 2;color: #ffffff;
        background-color: #464646;
        margin-right: 10px;}
    
    
    footer ul.social-botons li a:hover{
    background-color: #bda45a;}