/* -------------------------------------Footer--------------------------------- */

footer{

    text-align: center;
    padding-top: 10px;
    background-color: #24303c;
    color: white;
    min-height: 300px;}
    

.menu-footer{
    display: inline;
    font-size: 16px;
    align-items: center;
    color: #ffffff;
    background-color: #464646;
    margin-right: 10px;}
    
    
.botoner-redes ul li:hover{
    background-color: #bda45a;
    border-radius: 50%;
    transition: 6ms;
}