/* -------------------------------------Footer--------------------------------- */

footer{
    background-color:#24303c;
}
.box-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100%;
    margin-right: 5%;
    margin-left: 5%;
    width: 100%;}

.box-footer ul{
color: white;
text-align: left;
font-size: 14px;
}
  
a:link{
    text-decoration: none;
}

a:hover{
    background-color: green;
    transition: 6ms;
}

.copyright{
    display: flex;
    justify-content: space-between;
    text-align: center;
}