/*====== Products ======*/
* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
  }


a:link{
    text-decoration: none;
    color: #24303c;
    cursor: pointer;
}

.titulo{
display: block;
text-align: center;
color: black;
font-size: 100px;
margin-top:10%;
text-transform: uppercase;

}

.parrafo-header{
  margin-top:2%;
  text-align: center;
  color: #24303c;
  font-size: 20px;
}

.catalogo{
    display: flex;
    justify-content:space-between;
    margin-top:5%;
   align-items: center;
   flex-direction: nowrap;
   width: 80vw;
   margin-left: 10%;

}

.subcatalogo {
  display: flex;
  flex-direction: column;
  padding: 10px, 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "Noto sans", sans-serif ;
  font-size: 18px;

}

.subcatalogo a{
  color: #24303c;
  margin-bottom: 2%;
  text-align: center;

}

.imagenes-catalogo{
  display: flex;

}

.titulo-productslist{
  font-size: 25px;
  text-align: left;
  margin-left: 5%;
  color: rgb(180, 221, 197);
  margin-bottom: 5%;
  
}

.products-list-box{
  display: inline-flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  margin-right: 5%;
}


.products-box{
 display:flex;
 flex-direction: column;
  width: 300px;
  height:350px;
  padding: 15px;
  border-radius: 12px;
  border-color: #24303c;
  border-style: dashed;
  margin-bottom: 15%;
}

 .product-name{
  display: inline-block;
  color:#24303c;
  margin-bottom: 2%;
  margin-top: 2%;
}

.agregar-carrito{
  color:#24303c;
  cursor: pointer;
}

.fa-cart-shopping {
  color: green;
  font-size: 1.8em;
  text-align: center;
  position: relative;
  top: -20px;
  right: -70px;
  transition: 300ms;
  z-index: -5;
}


/*
.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .product-box:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  } */