header{
    position: relative;
}

header .logo-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

header .logo-img{
    position: relative;
    width: 15vw;
    height: 22vh;
}

header div.menu-hamburguesa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.menu-hamburguesa i{
    position: absolute;
    left: 160px;
    top: -80px;
    width: 20vw;
    height: 15vh;
}

header .boton-tienda{
    position: absolute;
    left: 250px;
    top: 70px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    box-shadow: 0,0,0,0.6;
    margin-right: 10px
}

a{
  text-decoration: none;
  color: black;  
}

.boton-tienda{
    padding: 1px, 5px, 1px, 5px;
    text-align: center;
}

header .boton-dona{
    position: absolute;
    left: 250px;
    top: 100px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 23px; 
    box-shadow: 0,0,0,0.6;
    margin-right:20px;
}


.icono-carrito{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    position: absolute;
    top: 40px;
    left: 86%;
    color:green;
}

.icono-personita{
    position: absolute;
    top: 40px;
    left: 95%;
}
.cambio-de-idioma{
    position: absolute;
    top: 100px;
    margin-left: 5px;
}

@media (min-width: 460px) {
    header div.menu-hamburguesa { 
        display:none
    }

    /*no se implementa el navegador*/

    header .navegador-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-start;   
    }


    /*-----------------*/

    header .boton-dona{
        position: relative;
        top: -40px;
        left: 800px;
    }

    header .boton-tienda{
        position: relative;
        top: -40px;
        left: 800px;
    }

.volver {
   position: absolute;
   top:280px;
   margin-left: 5px;
}

.volver a {
    color: grey;
}

.icono-manito-redes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 72px;
    left: -46px;
    z-index: 2;
}

.inicio-de-sesion{
    position: relative;
    top: 51px;
    left: 36%;
}
}