* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.html,body{
    height:100vh;
}
body {
    background-image: url(../images/rickMorty.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@media only screen and (max-device-width: 767px) {
    body {
         background-image: url(../images/rickMorty.jpg);
         color: #FFF;
     }
}
@media only screen and (max-width: 767px) {
    body {
         background-image: url(../images/rickMorty.jpg);
         color: #FFF;
         }
}
