colores {
    background-color:f47421;
    color:f2f2f2;
    color:04402f;
    color:F3D5BB; 
}

*{
    font-family: 'Raleway', sans-serif;
}

.logo-logo{
    width: 16vw;
    height: 21vh;
}

.logo-footer{
    width: 5vw;
    height: 10vh;
}

