*{
  padding: 0;
  margin: 0;
}

/* -------------------------------------Header Menu --------------------------------- 

ul {

position: relative;
 left: 550px;
margin:0;
padding:5px;
padding-bottom: 50px;


}

/*Crea la listahorizontal con espacio
li {
display:inline-block;
float: left;
margin-right: 1px;
}

/* Estilos para los link 
li a {
display:block;
min-width:140px;
height: 50px;
text-align: center;
line-height: 50px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
background: #a0a0a1;
text-decoration: none;
border-radius: 5px;
transition:all 0.5s ease;
}

/* estados hover de los link 
li:hover a {
background: #565757;
}

/* estilos del dropdown 
li:hover ul a {
background: #f3f3f3;
color: #2f3036;
height: 40px;
line-height: 40px;
}

/* estilos del estado hover del dropdown
li:hover ul a:hover {
background: #555555;
color: #fff;
}

/*Oculta el dropdown
li ul {
display: none;
}

/* Pone el dropdown en vertical 
li ul li {
display: block;
float: none;
}

/* Previene el texto wrapping 
li ul li a {
width: auto;
min-width: 100px;
padding: 0 20px;
}

/* Aparace el dropdown en hover
ul li a:hover + .hidden, .hidden:hover {
display: block;
}

/* Estilo de .muestra-menu 
.menu-guardianas {
float: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
color: #fff;
background: #030303;
text-align: center;
padding: 10px 0;
display: none;
  transition:all 0.5s ease;
}


/*Oculta el checkbox
input[type=checkbox]{
  display: none;
}

/* muestra el menu cuando el checkbox is checked
input[type=checkbox]:checked ~ #menu{
  display: block;
}
*/

/* estilos responsive */

@media screen and (max-width : 760px){
/*Hace que el dropdown links aparescan en linea */
ul {
  position: static;
  display: none;
}
/*Crea espacio vertical */
li {
  margin-bottom: 1px;
}
/* crea todo el menu links  ancho full */
ul li, li a {
  width: 100%;
}
/*Display '.muestra-menu' link*/
.menu-guardianas {
  display:block;
}
}

/* ----------------------------------CARRUSEL----------------------------- */
.carrusel{
  
background-image: url(../images/imagen3.jpg);
background-repeat: no-repeat; 
display: block;
width: 100%;
height: 500px;
margin-left: auto; 
max-width: 50%;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
margin-right: auto;

}
.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  font-size: 100px;
  color: rgb(252, 247, 247);
  text-shadow: #000000 0px 0px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  


/* -------------------------------------CARD--------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



body {
background-color: #D2DBDD;
display: flex;
display: -webkit-flex;
-webkit-justify-content: center;
-webkit-align-items: center;
justify-content: center;
align-items: center;

}

.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: right;
  -webkit-justify-content: right;
  max-width: 1450px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 70px;

}

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url(../images/2.jpg);
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url(../images/3.jpg);
}
.card--2 .card__img, .card--3 .card__img--hover {
background-image: url(../images/4.jpg);
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
vertical-align: middle;
  fill: #AD7D52;
}
.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}
.card {
margin-right: 25px;
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #fff;
  width: 33.3%;
position: relativeab;
border-radius: 12px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
background-color: #fff;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
 padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}


/* -------------------------------------Calculadora--------------------------------- */
.calculadora{

background-image: url(../images/calculadora-1.jpg);
background-repeat: no-repeat;
width: 1100px;
height: 600px;
display: block;
display: flex;
justify-content: center;
margin: 0px auto;
padding-right: 100px;
padding-bottom: 50px;
padding-top: 50px;
border-radius: 12px;




}

hr{

color: #ffffff;

}
/* -------------------------------------map--------------------------------- */
.map{
padding-top: 50px;
padding-left: 350px;
box-shadow: inset 0px 13px 10px -7px rgba(0, 0, 0,0.1);


}



/* -------------------------------------Footer--------------------------------- */

footer{

text-align: center;
padding-top: 100px;
background-color: #D2DBDD;
min-height: 300px;}


footer a
{color: rgb(161, 240, 221);
}
footer .capa-footer
{color: rgb(16, 15, 15);
font-size: 13px;
padding: 60px 20px;}
footer .capa-footer h3
{margin-bottom: 10px;}
footer ul.quick-link li
{display: inline-block;
margin: 0 10px 10px 0;}
footer ul.quick-link li a
{color: #fff;font-size: 15px;
font-weight: bold;}
footer ul.social-botons{
margin-top: 70px;}
footer ul.social-botons li{
display: inline-block;}
footer ul.social-botons li a{
padding-top: 15px;
display: block;
width: 67px;
height: 67px;
border-radius: 50%;
font-size: 37px;
line-height: 2;color: #ffffff;
background-color: #464646;
transition-duration: 0.3s;
margin-right: 8px;}
footer ul.social-botons li a:hover, ul.social-botons li a:focus, ul.social-botons li a:active{
background-color: #5ABD5E;}