*{ margin:0%;
    padding:0%;
    font-family: 'Raleway', sans-serif;
}


/* -------------------------------------Header--------------------------------- */

header{
    position: relative;
}

header .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

header .logo-logo{
    position: relative;
    width: 15vw;
    height: 22vh;
}

header div.menu-hamburguesa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.menu-hamburguesa i{
    position: absolute;
    left: 160px;
    top: -80px;
    width: 20vw;
    height: 15vh;
}

header .boton-tienda{
    position: absolute;
    left: 250px;
    top: 70px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    box-shadow: 0,0,0,0.6;
    margin-right: 10px

}

a{
  text-decoration: none;  
}

.boton-tienda{
    padding: 1px, 5px, 1px, 5px;
    text-align: center;

}

header .boton-dona{
    position: absolute;
    left: 250px;
    top: 100px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 23px; 
    box-shadow: 0,0,0,0.6;
    margin-right:20px;
}


.icono-carrito{
    position:absolute;
    display: none;
}

.cambio-de-idioma{
    position: absolute;
    top: 70px;
    margin-left: 5px;
}

.navegador-principal, .login-registrate {
    display: none;
    position: absolute;
}

header div.buscador-de-productos{
    position:absolute;
    top:200px;
    left: 30px;
    margin: 10px;
}

.buscador-de-productos input {
    box-shadow: 0, 0, 0, 0.5;
    border: grey solid 1px;
    width: max-content;
    margin-right: 5px;
}

.buscador-de-productos i {
    border: grey solid 1px;
    background-color: green;
}

.volver {
    position: absolute;
    margin: 10px;
    padding: 10px;
}

.volver a {
    color: grey;
    position: relative;
    top: 140px;
}

main .icono-manito-redes-fijo-tabletypc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 160px;
    z-index: 3;
}

.icono-manito-redes-fijo-tabletypc{
    display: inline;
}
.div-nombre-producto{
    position: absolute;
    left: 10px;
    top: 320px; 
}

article div.fotos .foto-principal {
    width:248px;
    height:347px; 
    position: absolute;
    left: 121px;
    top: 377px;
}

.foto-2{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 377px;
}

.foto-3{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 487px;
}

.foto-4{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 597px;
}


article .descripcion{
    position: absolute;
    top: 703px;
    left:10px;
    margin-top:10px;
    margin-bottom: 10px;
}
    
article .price{
    position: absolute;
    top: 769px;
    left:10px;
}


article div.comprar-carrito .boton-comprar{
    position: absolute;
    left: 10px;
    top: 800px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 19px; 
    box-shadow: 0,0,0,0.6;
}

article div.comprar-carrito .agregar-al-carrito{
    position: absolute;
    left: 150px;
    top: 800px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 23px; 
    box-shadow: 0,0,0,0.6;
}

.otras-artesanias{
    position: absolute;
    top:880px;
    left: 10px;
}

.otras-artesanias p{
    top:802px;
    margin-bottom: 10px;
}

.otras-artesanias img{
    width: 100px;
    height: 100px;
}

section.boton-donacion {
    position: absolute;
    left: 15px;
    top: 1100px;
    border: 1px black solid;
    background-color: green;
    padding-left:17px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 17px; 
    box-shadow: 0,0,0,0.6;
}

.pagina-donaciones{
    color: white;
}

.pagina-tienda{
    color:white;
}

section.boton-tienda {
    position: absolute;
    left: 15px;
    top: 1300px;
    border: 1px black solid;
    background-color: green;
    color: white;
    padding-left:10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 23px; 
    box-shadow: 0,0,0,0.6;
}

/* footer--------------------------*/

footer .logo-footer{
    width: 18vw;
    height: 30vh;
}

footer ul{
    display: none;
}

footer .ultima-caja img{
    position: absolute;
    top: 1500px;
    left:10px; 
}

.ultima-caja p.direccion{
    position: absolute;
    top: 1573px;
    left: 76px; 
}
.ultima-caja p.copyright{
    position: absolute;
    top: 1573px;
    left: 272px; 
}

.ultima-caja 
<p class="direccion">Buenos Aires, Argentina </p>
<img src="images/isologo verde.png" alt="logo" class="logo-footer">
<p class="copyright"><i class="fa-regular fa-copyright"></i>2022 Guardianas por naturaleza </p>



