*{ 
 
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


.producto-box{ 
display: flex;
flex-direction: column;
}

.product-name{ 
    color: black;
    z-index: 10;
}
.agregar-carrito{
    color: black;
}
.editar, .borrar {
    display: flex;
}

.boton-editar, .boton-borrar{
    padding: 5px;
    border-radius: 20%;
    border: 1px solid white;
    color: white;
    background-color: rgb(110, 163, 247);
}