<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="footer.css">
</head>
<body>

<footer>

  <div class='embed-container maps' style="margin: 0; padding: 0;"></div>
  
  <div class='embed-container maps' style="margin: 0; padding: 0;">

  <section class="otras-artesanias">
    <p> Artesanías únicas, naturales y con impacto social   </p>
    <!--Tienen que ir pasando de a una por pantalla a medida que crece la pantalla se ajusta al tamaño >>--> 
    <img src="3.jpg" width="200px" heigh="200" alt="foto1" class="mas-productos">
    <img src="4.jpg"  width="200px" heigh="200" alt="foto2" class="mas-productos2">
    <img src="Artesanias.jpg"  width="200px" heigh="200" alt="foto 3" class="mas-productos3">
    <img src="arbol.jpg"  width="200px" heigh="200" alt="foto 4" class="mas-productos4">
  </section>

  
<hr/>  
  <section class="boton-donacion">
    <a  href="/donaciones" class="pagina-donaciones">Sumate con tu donación</a> 
  </section>
<hr/>
  <section class="boton-tienda">
    <a  href="#" class="pagina-tienda"> Conocé nuestra tienda
         ¡No te pierdas nada! </a>
     <!--hacer boton con css-->
  </section>
<hr/>

<div class="info-container">
  <ul class="container1">
        
    <li><a href="#"> Ventas mayoristas </a></li>
    <li><a href="#"> Regalos corporativos </a></li>
    <li><a href="#"> Contactános </a></li>
  </ul>
  <ul class="container2">
    <li><a href="#">Envíos y devoluciones</a></li>
    <li><a href="#">Preguntas frecuentes</a> </li>
    <li><a href="#">Locales</a></li>    
  </ul>
</div>
<hr/>
<ul class="container-pc">
    <li>Seguinos en nuestras redes</li>
    <li><a href="#">Instagram </a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Youtube</a></li>
    <li><a href="#">Twitter</a></li>

</ul>

<div class="ultima-caja">
    <p class="direccion">Buenos Aires, Argentina </p>
    <img src="isologo verde.png" width="100px" alt="logo" class="logo-footer">
    <p class="copyright"><i class="fa-regular fa-copyright"></i>2022 Guardianas por naturaleza </p>
</div>


</footer>
  
</body>
</html>