<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/footer.css">
    </head>
    
    <footer>
        <div class="box-footer">
            <ul>
                    
                <li><a href="#"> Ventas mayoristas </a></li>
                <li><a href="#"> Regalos corporativos </a></li>
                <li><a href="#"> Contacto </a></li>
                <li><a href="#">Envíos y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes </a> </li>
                    
            </ul>
            
            <ul>
                <li>Seguinos en nuestras redes</li>
                <li><a href="#">Instagram </a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Twitter</a></li>
    
            </ul>
        
            <ul>
                <h4>Teléfono/ 11 22 11111 </h4>
                <a href="mailto:guardianas@gmail.com">Consultanos en guardianas@gmail.com</a> 
                <p class="direccion">Buenos Aires, Argentina </p>
            
            </ul>
        </div>

            <div class="copyright">
                <img src="/public/images/isologo verde.png" alt="logo" class="logo-footer">
                <p class="copyright"><i class="fa-regular fa-copyright"></i>2022 Guardianas por naturaleza </p>
            </div>
    
      
     
    </footer>

</html>
            