<head>
    <link rel="stylesheet" href="/css/footer.css">
    <%- include('../partials/head.ejs') %> 
</head>


    <footer>
              
        <div class="menu-footer">
            <h3>Contacto</h3>
            <h4>Teléfono/ 11 22 11111 </h4>
            <h4>Email@guardianaspornaturaleza.com.ar  </h4>
            <h4>Direccion: Buenos Aires, Argentina </h4>
            <h4>Proyecto integrador de Digital House - 2022 - Hecho por Grupo 4</h4>
        </div>  
                        
            <div class="botones-redes">
                              
                <a href="#"><i class="fab fa-twitter"></i></a>
                         
                <a href="#"><i class="fab fa-facebook"></i></a>
                         
                <a href="#"><i class="fab fa-linkedin"></i></i></a>
                                
            </div>
              
                    
                
    </footer>
</html>
            