<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GUARDIANAS POR NATURALEZA</title>
  <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
</head>

  <body>


    <header>
      <div class="logo-titulo">
        <div class="logo">
          <img src="images/My project-1.png" alt="logo" />
        </div>  
    
        <div>
         <h4 class="titulo"><strong> Guardianas por naturaleza </strong></h4>
        </div>  
      </div>

      <div class="box-nav-completo-fullscreen">  
        <a href="/"> HOME </a></li>
        <a href="/nosotros" > NOSOTRAS </a>
        <a href="/impacto" > IMPACTO </a>
        <a href="/tuhuella" > CONOCÉ TU HUELLA </a>
        <a href="/catalogo" > CATÁLOGO</a>
        <a href="/tienda" class="boton-tienda">TIENDA</a>
        <a href="/donaciones" class="boton-dona">DONÁ</a>
        <form class="cambio-de-idioma" action="#" method="get">
          <select name="idiomas" id="idiomas">
            <option value="Eligió español">Español</option>
            <option value="Eligió inglés">English</option>
          </select>
        </form>
      </div>
  
      <div class="register">
        <a href="/register">Registrate</a>
        <a  href="/login">Ingresá</a>
        <i class="fa-solid fa-user"></i>
      </div>
    
      <section class="p-menu1">
        <nav id="navbar" class="navigation" role="navigation">
          <input id="toggle1" type="checkbox" />
          <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
          </label>
        
          <nav class="menu1">
            <a class="link1" href="">HOME</a>
            <a class="link1" href="">CATÁLOGO</a>
            <a class="link1" href="">IMPACTO</a>
            <a class="link1" href="">DONÁ</a>
            <a class="lin1 kbutton-nav" href="">TIENDA</a>
          </nav>
        </nav>
      </section>

    </header>

    
  </body>
</html>