<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión en Guardianas</title>
    <link rel="stylesheet" href="css/styleRegister.css">
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    
 
    <section class="register">
        <h4>Ingresá a tu cuenta </h4>
        <form action="/login" method="post"> 
            <label for="email"></label>
            <input class="controls" type="email" name="email" id="email" placeholder="Email">
            <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
            <input class="boton" type="submit" value="Ingresar">
            <p><a href="#">¿Olvidaste tu contraseña? </a></p>
        <!--confirmar la contraseña-->
        <p><a href="/register">¿No tenés cuenta?  Creá tu cuenta</a></p>
        <input class="boton" type="submit" value="Registrarse">
        <!--boton para registrarse que cambie de color y redireccione-->
      
    </form>
    </section>


</body>
         <!--footer-->
</html>