
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>¡Bienvenid@ a Guardianas <%= users.name %> ! 
    </h2>
    <p> Ahora sos parte de un gran proyecto que busca impactar en muchos focos: naturaleza, comunidades origininarias, igualdad, comercio-justo, y otras que seguirán creciendo...
    </p>

    <p> Tu apoyo es fundamental! Que lleves con vos, a todos lados, artesanías únicas y perfectamente diseñadas,
         con tanto sentido para 1las mujeres que trabajan en ellas 
        nos hace una ilusión que ¡no te podrás imaginar!
    </p>

    <h2> ¡Muchas gracias por ser parte de este gran equipo! </h2>
    <h3> Juntos somos capaces de conquistar el mundo... (pero con buenas ideas)</h3>


</body>
</html>