<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicia sesión en Guardianas</title>
        <link rel="stylesheet" href="css/styleRegister.css">
        <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
    
       
        <section class="register">
            <h4>Registrate en guardianas</h4>
            <form action="/login" method="post">
            <label for="nombres y apellidos"></label>
            <input class="controls" type="text" name="nombres y apellidos" id="nombres y apellidos" placeholder="Nombre y apellido">
            <label for="correo"></label>
            <input class="controls" type="email" name="correo" id="correo" placeholder="E-mail">
            <label for="numero de contacto"></label>
            <input class="controls" type="number" name="numero de contacto" id="numero de contacto" placeholder="Telefono de contacto">
            <label for="contraseña"></label>
            <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
            <label for="contraseña"></label>
            <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Confirmar contraseña">
        <!--confirmar la contraseña-->
            <p>Estoy de acuerdo con los <a href="#">Términos y Condiciones</a></p>
            <input class="boton" type="submit" value="Registrarse">
        <!--boton para registrarse que cambie de color y redireccione-->
            <p><a href="/login">Ya tengo cuenta</a></p>
        </form>
    </section>


</body>
         <!--footer-->
</html>
